
<table>
	<tr>
		<th width="60%"> Find Forums </th>
	</tr>	
	<% for topic in @search_topics %>		
	<tr>
		<td> <%=link_to  h(topic.name), "#{forums_path}/#{topic.forum_id}/topics/#{topic.id}" %> <br/>
	</tr>
	<%end %>
</table>

	
<%= link_to 'Back to Main Page', forums_path %></p>

