
<table>
	<tr>
		<th width="60%"> Find Forums </th>
	</tr>	
	<% for forum in @search_forums %>		
	<tr>
		<td> <%=link_to  h(forum.name), "#{forums_path}/#{forum.id}"%> <br/>
	</tr>
	<%end %>
	
	<% for topic in @search_topics %>		
	<tr>
		<td> <%=link_to  h(topic.name), "#{topics_path}/#{topic.id}" %> <br/>
	</tr>
	<%end %>

</table>
<%= link_to 'Main', forums_path %></p>

