
<table>
	<tr>
		<th width="60%"> Find Forums </th>
	</tr>	
	<% for topic in @search_topics %>		
	<tr>
		<td> <%=link_to  h(topic.name), "#{topics_path}/#{topic.id}" %> <br/>
	</tr>
	<%end %>
</table>

	
<%= link_to 'Main', forums_path %></p>

